API_HOST=api.pestneer.com
PUBLIC_WEB_URL=https://pestneer.com

POSTGRES_DB=pestneer
POSTGRES_USER=pestneer
POSTGRES_PASSWORD=replace-with-a-long-random-password
JWT_SIGNING_KEY=replace-with-a-random-secret-at-least-32-characters-long

BOOTSTRAP_OWNER_EMAIL=sahip@mail.com
BOOTSTRAP_OWNER_PASSWORD=replace-with-a-strong-password
BOOTSTRAP_OWNER_COMPANY_CODE=TURA-ANKARA
BOOTSTRAP_OWNER_COMPANY_NAME=Tura Çevre Sağlığı

EMAIL_ENABLED=false
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_FROM_ADDRESS=
EMAIL_FROM_NAME=Pestneer Raporlama
EMAIL_ENABLE_SSL=true
